<!DOCTYPE html>
<html>
  <head>
    <% include partials/bshead.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Parse</h1>
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>TICKETWFLAB</td>
            <td><%= data['TICKETWFLAB'] %></td>
          </tr>
          <tr>
            <td>OPERATOR</td>
            <td><%= data['OPERATOR'] %></td>
          </tr>
          <tr>
            <td>STARTED</td>
            <td><%= data['STARTED'] %></td>
          </tr>
          <tr>
            <td>Real End JMJ</td>
            <% if(data['ENDEDASYNC']==undefined){ %>
              <td><%= data['ENDED'] %></td>
            <% } else { %>
              <td><%= data['ENDEDASYNC'] %></td>
              <% }%>
          </tr>
          <tr>
            <td>SERVER</td>
            <td><%= data['SERVER'] %></td>
          </tr>
          <tr>
            <td>STATUS</td>
            <td><%= data['STATUS'] %></td>
          </tr>
          <tr>
            <td>PRIORITY</td>
            <td><%= data['PRIORITY']['0']['_'] %></td>
          </tr>
          <tr>
            <td>WFID</td>
            <td><%= data['WFID'] %></td>
          </tr>
          <tr>
            <td>INPUT</td>
            <td><%= data['INPUT']['0']['INPUTUNC'] %></td>
          </tr>
          <tr>
            <td>Workflow/Node</td>
            <% if(data['ENDEDASYNC']==undefined){ %>
              <td>Node</td>
            <% } else { %>
              <td>Workflow</td>
              <% }%>
          </tr>
        </thead>
      </table>
    </div>
  </body>
</html>
